.popup__closebtn {
  position: absolute;
  top: -45px;
  right: -50px;
  width: 58px;
  height: 58px;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../../images/Close_Icon.svg');
  background-size: cover;
  border: none;
  transition: opacity 1s ease-out;
}
.popup__closebtn:hover {
  opacity: 0.6;
  outline: none;
}

@media (max-width: 390px) {
  .popup__closebtn {
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    top: 1px;
    right: 1px;
    background-image: url('../../../images/Close_Icon2.svg');
  }
}