.popup__text {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: left;
  margin: 0 0 30px;
  padding-bottom: 5px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.popup__text:focus {
  outline: none;
}
.popup__text:last-of-type {
  margin: 0 0 47px;
}
